{% extends 'front-office/front.html.twig' %}

{% block title %}Accueil - EasyWay{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1>Bienvenue sur EasyWay</h1>
            <p class="lead">Votre plateforme de transport et covoiturage en Tunisie</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-people-fill text-primary" style="font-size: 3rem;"></i>
                    <h3 class="my-3">Covoiturage</h3>
                    <p>Partagez vos trajets et économisez sur vos déplacements.</p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-bus-front text-primary" style="font-size: 3rem;"></i>
                    <h3 class="my-3">Transport public</h3>
                    <p>Accédez facilement aux informations sur les transports publics.</p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-car-front text-primary" style="font-size: 3rem;"></i>
                    <h3 class="my-3">Véhicules</h3>
                    <p>Découvrez notre flotte de véhicules adaptés à tous vos besoins.</p>
                    <a href="#" class="btn btn-primary">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 