{% extends 'front-office/front.html.twig' %}

{% block title %}Accueil - EasyWay{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1>Bienvenue sur EasyWay</h1>
            <p class="lead">Votre plateforme de transport et covoiturage en Tunisie</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-people-fill text-primary" style="font-size: 3rem;"></i>
                    <h3 class="my-3">Se connecter</h3>
                    <p>Vous avez deja un compte? Vous pouvez acceder au votre compte ici.</p>
                    <a href="{{ path('app_login') }} " class="btn btn-primary">Login</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <i class="bi bi-people-fill text-primary" style="font-size: 3rem;"></i>
                    <h3 class="my-3">S'inscrire</h3>
                    <p>Vous pouvez s'inscrire et nous rejoindre sur Easy Way</p>
                    <a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %} 