<p>Bonjour,</p>
<p>Nous avons pris en compte votre réclamation concernant : <strong>{{ reclamation.sujet }}</strong>.</p>
<p>Voici notre réponse :</p>
<blockquote>{{ reponse.contenu }}</blockquote>
<p>Merci de votre patience.</p>
<p>Cordialement,</p>
<p>L'équipe Support</p>
