{% extends 'front-office/front.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h2>Welcome to the Homepage!</h2>
    <p>This is the content of the index page.</p>
{% endblock %}