{# templates/covoiturage/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-success">
        <h4 class="alert-heading">Paiement réussi!</h4>
        <p>Votre réservation a été confirmée. Un email de confirmation vous a été envoyé.</p>
    </div>
</div>
{% endblock %}